{% extends "registration/base.html" %}

{% block title %}Recuperar senha · Clubi{% endblock %}
{% block heading %}Recuperar senha{% endblock %}

{% block content %}
  <p class="auth-lead">
    Informe o e-mail cadastrado. Enviaremos um link para você criar uma nova senha.
  </p>

  <form class="auth-form" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="button" type="submit">Enviar link</button>
  </form>

  <p class="auth-links">
    <a href="{% url 'login' %}">Voltar para o login</a>
  </p>
{% endblock %}
